
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.likeabutton {
		text-decoration: none; font: menu;
		display: inline-block; padding: 2px 8px;
		background: ButtonFace; color: ButtonText;
		border-style: solid; border-width: 2px;
		border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	}
       h1{color:white;
          text-align:center;
          font-family:Kavoon;
          font-size:50px;}
        img{
        	display: block;
        	margin: auto;
        	width:40%;
        }
.data1{
text-align:center;
font-family:Lobster;
font-size:20px;
color:white
}
.data2{left: 50%;
  right: auto;
  text-align: center;
  transform: translate(43%, 0);
  top-margin : 1000px;
font-family:Lobster;
font-size:20px;
font-color:white
}
.data3{left: 50%;
  right: auto;
  text-align: center;
  transform: translate(47%, 0);
font-family:Lobster;
font-size:20px;
font-color:white }

.data4{font-family:Lobster;
font-size:20px;
color:white
}
body {
    background-image: url("bg.jpg");
}
/*.t{
	top-margin: 3000px;
}*/
#user_input_submit_button
	{
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #eb675e));
	background:-moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
	background-color:#e4685d;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#FFFFFF;
	font-family:Arial;
	font-size: 40px;
	padding:11px 41px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;


}
#user_input_submit_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
	background-color:#eb675e;
}
#user_input_submit_button:active {
	position:relative;
	top:1px;
}

