<html>
<head>
	<title> Choose category </title>
	<link rel="stylesheet" type="text/css" href="/static/css/fromuser.css">
</head>

<body>
	<h1>Event<i>ley</i></h1>
	<img src="/static/css/logo.png" />
	<form action="\wait\">
<div class="data1">
		<p style="font-size:20px">Location you selected: </p>
		<p style="font-size:20px" id="latitudep">Latitude:
		<input style="font-size:20px" id="latitude" type="text" name="latitude" value="{{ latitude }}" disabled></p>
		<p style="font-size:20px" id="longtitudep">Longtitude: 
		<input style="font-size:20px" id="longtitude" type="text" name="longtitude" value="{{ longtitude }}" disabled></p><br>

	<p style="font-size:25px">Enter the area to cover: </p>
</div>
<div id='t'>
<div class="data2">	
		<table>
			<tr>
				<th style="font-size:25px" ><center><input type="number" id="covered_area" name="covered_area"></th>
				<th style="font-size:25px" ><center><select id="units_distance" name="units_distance">
					<option value="miles"> Miles </option>
					<option value="km"> Kilometers </option>
					<option value="m"> Metres </option>
				</select>
                            
			</th>
		</tr>
	</table>
</div>
	<br><br><br>
<div class="data4">
	<p style="font-size:35px" id="selectp"><center> Select your category:</center></p>
</div>
<div class="data3">
	<table>
		<tr >
			<th><select style="font-size:25px"  id="select_category_event" name="select_category_event">
				<option style="font-size:25px" value="education"> Education </option>
				<option style="font-size:25px" value="fun"> Fun </option>
				<option style="font-size:25px" value="social"> Social </option>
				<option  style="font-size:25px"value="cultural"> Cultural </option>
				<option  style="font-size:25px" value="sports"> Sports </option>
			</select>
		</th>
	</tr>
</table>
</div>
<br><br><br><br>
<div class="button">
<center><input type="submit" value="Submit" id="user_input_submit_button" name="user_input_submit_button" onclick="return enableInput()"></center>
</div>
</div>
</form>

          <script type="text/javascript">
            function enableInput(){
              document.getElementById('latitude').disabled=false;
              document.getElementById('longtitude').disabled=false;
              var bool = isEmpty();
              if(bool == true){
                document.getElementById("latitudep").style.visibility = "hidden";
                document.getElementById("latitude").style.visibility = "hidden";
		document.getElementById("longtitudep").style.visibility = "hidden";
		document.getElementById("longtitude").style.visibility = "hidden";
		document.getElementById("covered_area").style.visibility = "hidden";
		document.getElementById("units_distance").style.visibility = "hidden";
              	document.write("Please Wait while we load data...");
              }
              return bool;
            }
          	function isEmpty () {
            	var el = document.getElementById("covered_area");
            	if (el !== null && el.value === ""){
            	  alert("Please choose area you want to cover!!");
            	  return false;
            	}
            	return true;
          	}
          </script>

</body>	
</html>
