<html> 
	<head> 
		<title> EventGrade </title> 
		<style type="text/css"> 
			.likeabutton { 
				text-decoration: none; 
				font: menu; 
				display: inline-block; 
				padding: 2px 8px; 
				background: ButtonFace; 
				color: ButtonText; 
				border-style: solid; 
				border-width: 2px; 
				border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; 
			} 
		</style> 
	</head> 
	<body> 
		<h1> Welcome to EventGrade </h1>
		<br><br>
		<iframe width="600" height="450" frameborder="10" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Janpath&key=AIzaSyCPMogO05cW5jLtUt1bOvupmvJjqdXTkAI" allowfullscreen></iframe> 
		<br><br> 
		<a href="" id="user_input_submit_button" name="user_input_submit_button" class="likeabutton"> Submit </a> 
	</body> 
</html>
